body{
    font-family: 'Oswald', sans-serif;
}



h1{
    color: rgb(7, 6, 37);
    font-size: 60px;
    font-weight: bold;
}

h2{
    color: coral;
font-size: 40px;
font-weight: bold;

}

p{
    font-size: 25px;
}

p1{
    font-size: 25px;
}

.link-button{
    background-image: linear-gradient(30deg,rgb(240, 240, 12),rgb(218, 110, 22));
    padding: 6px 12px;
    border-radius: 4px;
     text-decoration: none;
     color:rgb(32, 5, 54) ;
     font-size: 20px;
     font-weight: bold;
      
     
    }


.half-part{
    width: 40%;
float: left;
margin-left: 10%;
margin-top: 10%;
 }


.half-part img{
    width: 95%;
}

h4{
    font-size: 40px;


}

 

  
  

 p2{
     
     font-size: 20px;
     text-align: justify;
 }

 .last-part{
     margin-top: 40%;
 }
.last-part h5{
    text-align: center;
}
.last-part img{
width: 25%;
margin-top: 5%;
margin-left: 6%;
}

.w1{
color: tomato;
 
}
 
h5{

font-size: 50px;
font-weight :bold;

}

.g2{
    width: 50%;
    margin-top: 15%;
    margin-left: 25%;
}

  .con{
   
 
margin-left: 40%;

  }

  .stay{
      font-size: 40px;
      color: teal;
      text-align: center;
  }
  
  h7{
    margin-top: 1%;
    margin-left: 40%;
    font-size: 35px;
    color :rgb(62, 13, 238);
    font-size: bold;
  }

  .end-part img{
    width: 5%;
    margin-top: 3cm;
    margin-left: 20%;
      
  }
     
  
  

  